<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markelys.viewpay">
    <application android:networkSecurityConfig="@xml/network_security_config">
        
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4293327323590876~6180072766"/>

        <activity android:name=".ViewPayActivity"
            android:configChanges="orientation|screenLayout|screenSize"/>

        <activity android:name=".ViewPayAdMobActivity"
            android:configChanges="orientation|screenLayout|screenSize"/>

    </application>
</manifest>